<% @page_title = 'Users' %>
<h1>Users</h1>
<div class="table-responsive c8">
  <%= will_paginate %>
  <table class="table table-striped text-white">
    <thead>
      <tr>
        <th scope="col">User</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= render @users %>
    </tbody>
  </table>
  <%= will_paginate %>
</div>
<br>
