<div class="c6 mt-5 mb-5">
  <h4>Help</h4>
  <p>
    If a valid Meetup.com event link is provided the time and location
    will be autofilled by the API upon save
  </p>
  <p>
    The content field will soon support markdown
  </p>
</div>
