<nav class="nav nav-pills flex-column flex-sm-row mb-4 c8">
  <% all = (params[:collection].nil? || params[:collection] == 'all') ? 'pill active' : 'pill'%>
  <%= link_to 'All', events_path(collection: 'all'), class: all %>
  <%= link_to 'Upcoming', events_path(collection: 'upcoming'), class: params[:collection] == 'upcoming' ? 'pill active' : 'pill' %>
  <%= link_to 'Past', events_path(collection: 'past'), class: params[:collection] == 'past' ? 'pill active' : 'pill' %>
  <%= link_to 'New', new_event_path(collection: 'new'), class: params[:collection] == 'new' ? 'pill active' : 'pill' if can? :edit, Event%>
</nav>
