<% @page_title = 'Events' %>

<h1>Events</h1>

<%= will_paginate %>
<%= render @events, index: true %>
<%= will_paginate %>
<p class="my-3">
  <%= link_to 'New Event', new_event_path, class: 'btn btn-sm btn-primary' if can? :edit, Event %>
</p>
