<% @page_title = 'Events' %>

<h1>Events</h1>

<%= will_paginate %>
<%= render @events, index: true %>
<%= will_paginate %>
<%= link_to 'New Event', new_event_path, class: 'btn btn-sm btn-primary my-3' if can? :edit, Event %>