<h1>About</h1>
<h3>You can find all sorts of stuff about us right here.</h3>

<%= link_to "Home" , pages_path %> <br>
<%= link_to "Contact" , pages_contact_path %> <br>
<%= link_to "Meetups" , pages_meetup_path %>

