<% @page_title = 'About Us' %>
<h1>About Us</h1>
<div class="c8">
  <p>
    YEGRB is a (very) small, volunteer run outfit with the goal growing the quality and quantity of people
    working with the Ruby programming language. By hosting a monthly meetup and running this website
    we want to be a resource for our small but talented community of Edmontonian Ruby developers.
  </p>
  <p>
    If you are interested helping out, even in a small way, then <%= link_to 'get involved!', getinvolved_path %>
    We will be happy to hear from you.
  </p>
</div>
