<h1>Contact</h1>
<h3>Feel free to contact Alan Vardy at alan@alanvardy.com for all questions and general desires</h3>
<%= link_to "Home" , pages_path %> <br>
<%= link_to "About" , pages_about_path %> <br>
<%= link_to "Meetups" , pages_meetup_path %>
