<h1>Contact</h1>
<h3>Feel free to contact us in any of the ways listed below.</h3>
<%= link_to "Home" , pages_path %> <br>
<%= link_to "About" , pages_about_path %> <br>
<%= link_to "Meetups" , pages_meetup_path %>
