<% @page_title = 'Home' %>

<h1><span class="text-red">YEGRB</span> - Edmonton's Ruby Meetup</h1>
<div class="row">
    <div class="col-12 col-md-6 col-xl-8 mb-4">
        <p>
            YEGRB is Edmonton’s local Ruby Meetup. Ruby is a dynamic,
            open source programming language with a focus on simplicity
            and productivity. It has an elegant syntax that is natural
            to read and easy to write.
        </p>
        <p>
            This meetup is held monthly for
            people of all abilities and backgrounds who share one thing:
            an interest in the language that was designed for humans first.
        </p>

        <%= image_tag 'mercerbuilding.jpg', class: 'w-100 rounded shadow'%>
        <span class="text-muted">The Mercer Building &#8212; home to Startup Edmonton and our meetup</span>
    </div>
    <div class="col-12 col-md-6 col-xl-4">
        <%= render 'events/next' %>
        <%= render 'opportunities/next' %>
    </div>
</div>