<% @page_title = 'Home' %>

<h1>YEGRB - Edmonton's Ruby Meetup</h1>
<p>Welcome to YEGRB, a hub for Edmonton's ruby enthusiasts.</p>
<div class="row">
    <div class="col-12 col-lg-8">

    </div>
    <div class="col-12 col-lg-4">
    <% if @event.present? %>
        <h3>Next Event:</h3>
        <%= link_to @event, class: 'info' do %>
        <div class="container bg-black rounded shadow border-right border orange py-3 mt-4 d-flex">
            <div class="">
                <h1><%= @event.time.strftime('%d') %></h1>
                <%= @event.time.strftime('%B') %>
            </div>
            <div class="align-self-center mt-2 ml-3">
                <h3><%= @event.title %></h3>
            </div>
        </div>
        <% end %>
    <% end %>
    </div>
</div>