<h1>YEGRB - Edmonton's Ruby Meetup</h1>
<h3>Welcome to YEGRB, a hub for Edmonton's ruby enthusiasts.</h3>

<%= link_to 'About us', pages_about_path%> <br>
<%= link_to 'Meetups', pages_meetup_path %> <br>
<%= link_to 'Contact', pages_contact_path%>