<% @page_title = 'Resources' %>
<h1>Resources</h1>
<h2>Beginners</h2>
<ul>
    <li>The Odin Project</li>
    <li>The Ruby on Rails Tutorial</li>
    <li>Exercism</li>
</ul>
<h2>Junior - Intermediate Developers </h2>
<ul>
    <li>The Rails 5 Way</li>
    <li>Practical Object Oriented Design</li>
</ul>
<h2>Intermediate - Senior Developers</h2>