<% @page_title = 'Slack' %>
<h1>Slack</h1>

<p>Get an automated invite for the Dev Edmonton Society Slack group:</p>
<div class="container d-flex justify-content-center">
    <a href="https://devedmonton-invite.herokuapp.com/"><%= image_tag "devedmonton.svg" %></a>
</div>


