<div class="c6 mt-5 mb-5">
    <h4>Help</h4>
    <p>Email is publically revealed as part of post</p>
    <p>The content field will soon support markdown</p>
    <p>Closing date can be no more than 90 days in the future</p>
</div>