<% if @opportunity.present? %>
<h4 class="mt-4">Latest Opportunity</h4>
<%= link_to @opportunity do %>
<div class="dark-box">
<div class="align-self-center text-center">
        <h2><%= @opportunity.title %></h2>
        <h4><%= @opportunity.company %></h4>
    </div>
    <div class="align-self-center mt-2 ml-3">
    </div>
</div>
<% end %>
<% end %>