<% @page_title = 'Opportunities' %>

<h1>Opportunities</h1>

<%= will_paginate %>
<%= render @opportunities, index:true %>
<%= will_paginate %>
<%= link_to 'New Opportunity', new_opportunity_path, class: 'sm-primary my-3' if can? :edit, Opportunity%>