/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import url('https://fonts.googleapis.com/css?family=Nunito|Spectral+SC');
$title-font: 'Spectral SC',
serif;
$body-font: 'Nunito',
sans-serif;


$theme-colors: ("red": hsl(0, 87%, 58%),
"green": hsl(165, 80%, 32%),
"success": hsl(204, 70%, 53%),
"white": hsla(0, 0%, 100%, 0.904),
"primary": hsl(0, 92%, 19%),
"secondary": hsl(0, 0%, 27%),
"info": hsl(204, 62%, 63%),
"warning": hsl(37, 90%, 51%),
"danger": hsl(0, 100%, 50%),
"grey-1": hsl(210, 22%, 71%),
"grey-2": hsl(210, 35%, 60%),
"grey-3": hsl(210, 6%, 40%),
"grey-4": hsl(210, 8%, 19%),
"grey-5": hsl(210, 10%, 11%),
"grey-6": hsl(210, 12%, 9%),
);

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "effective_form_inputs";


// BUTTONS

%small-button {
  @extend .btn;
  @extend .btn-sm;
  @extend .my-3;
  @extend .shadow;
}

.sm-red {
  @extend %small-button;
  @extend .btn-red;
}

.sm-secondary {
  @extend %small-button;
  @extend .btn-secondary;
}

.sm-warning {
  @extend %small-button;
  @extend .btn-warning;
}

.sm-info {
  @extend %small-button;
  @extend .btn-info;
}

.sm-danger {
  @extend %small-button;
  @extend .btn-danger;
}

.lg-primary {
  @extend .btn;
  @extend .btn-primary;
}

.lg-secondary {
  @extend .btn;
  @extend .btn-secondary;
}

// TITLES

%small-title {
  @extend .text-red;
  @extend .font-weight-bold;
  @extend .text-uppercase;
  font-family: $title-font;
}

.navbar-brand {
  font-family: $title-font;
}

h1 {
  font-family: $title-font;
  margin-bottom: 1.8rem;
}

h2 {
  font-family: $title-font;
  font-size: 1.6rem;
}

h3 {
  @extend %small-title;
  font-size: 1.3rem;
}

h4 {
  @extend %small-title;
  font-size: 1.1rem;
}

// BADGES

%badge {
  padding: 4px 20px;
  margin: 0px 0px 10px 10px;
  @extend .badge;
  @extend .float-right;
}

.green-badge {
  @extend %badge;
  @extend .badge-green;
}

.blue-badge {
  @extend %badge;
  @extend .badge-info;
}

.white-badge {
  @extend %badge;
  @extend .badge-white;
}

// PILLS

.pill {
  @extend .flex-sm-fill;
  @extend .text-sm-center;
  @extend .nav-link;
  @extend .bg-grey-3;
  margin: 0 5px 10px 5px;

  &.active {
    @extend .bg-red;
  }

}

// FORMS AND AREAS

.c6 {
  @extend .col-lg-6;
  @extend .offset-lg-3;
  @extend .col-md-8;
  @extend .offset-md-2;
  @extend .col-sm-10;
  @extend .offset-sm-1;
}

.c8 {
  @extend .col-lg-8;
  @extend .offset-lg-2;
  @extend .col-md-10;
  @extend .offset-md-1;
}

.c10 {
  @extend .col-lg-10;
  @extend .offset-lg-1;
}

.dark-box {
  @extend .container;
  @extend .bg-grey-5;
  @extend .rounded;
  @extend .shadow;
  @extend .border-right;
  @extend .border-red;
  @extend .p-4;
  @extend .mt-4;
  @extend .d-flex;
  @extend .justify-content-between;
  @extend %white-links;

  &:hover {
    background-color: map_get($theme-colors, 'grey-6') !important;
  }
}

body {
  font-family: $body-font;
}


html {
  position: relative;
  min-height: 100%;
}

$footerheight: 150px;

body {
  margin-bottom: $footerheight + 50px;
  /* Margin bottom by footer height */
}

.footer {
  @extend .bg-grey-5;
  @extend .pt-3;
  @extend %white-links;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footerheight;
  // /* Set the fixed height of the footer here */
  // line-height: 40px;
}

.pagination,
td {
  margin-bottom: 20px;

  a,
  em,
  .previous_page {
    margin-right: 10px;
  }
}

// IMAGES

.logo {
  height: 20px;
  width: 20px;
  transform: rotate(90deg);
}

.small-icon {
  height: 100px;
}

a {
  color: map_get($theme-colors, 'grey-1');

  &:hover {
    color: map_get($theme-colors, 'grey-2');
    text-decoration: none;
  }
}

td {
  strong {
    margin-right: 20px;
  }
}

%white-links {
  color: map_get($theme-colors, 'grey-1');

  a {
    color: map_get($theme-colors, 'white');

    &:hover {
      color: map_get($theme-colors, 'grey-1');
    }
  }

  div {

    p,
    h2 {
      color: map_get($theme-colors, 'white');
    }
  }
}

.nav-item.rightalign {
  text-align: right;
}