/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import url('https://fonts.googleapis.com/css?family=Nunito|Spectral+SC');
$title-font: 'Spectral SC',
serif;
$body-font: 'Nunito',
sans-serif;


$theme-colors: ("red": hsl(0, 87%, 58%),
"green": hsl(165, 80%, 32%),
"success": hsl(204, 70%, 53%),
"white": hsla(0, 0%, 100%, 0.904),
"primary": hsl(0, 92%, 19%),
"secondary": hsl(0, 0%, 27%),
"info": hsl(204, 62%, 63%),
"warning": hsl(37, 90%, 51%),
"danger": hsl(0, 100%, 50%),
"grey-1": hsl(210, 22%, 71%),
"grey-2": hsl(210, 35%, 60%),
"grey-3": hsl(210, 6%, 40%),
"grey-4": hsl(210, 8%, 19%),
"grey-5": hsl(210, 10%, 11%),
"grey-6": hsl(210, 12%, 9%),
);

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "effective_form_inputs";


// BUTTONS

%small-button {
    @extend .btn;
    @extend .btn-sm;
    @extend .mt-2;
    @extend .mb-4;
    @extend .shadow;
}

.sm-red {
    @extend %small-button;
    @extend .btn-red;
}

.sm-primary {
    @extend %small-button;
    @extend .btn-primary;
}

.sm-secondary {
    @extend %small-button;
    @extend .btn-secondary;
}

.sm-warning {
    @extend %small-button;
    @extend .btn-warning;
}

.sm-info {
    @extend %small-button;
    @extend .btn-info;
}

.sm-danger {
    @extend %small-button;
    @extend .btn-danger;
}

.lg-primary {
    @extend .btn;
    @extend .btn-primary;
}

.lg-secondary {
    @extend .btn;
    @extend .btn-secondary;
}

// TITLES

%small-title {
    @extend .text-red;
    @extend .font-weight-bold;
    @extend .text-uppercase;
    font-family: $title-font;
}

.navbar-brand {
    font-family: $title-font;
}

h1 {
    font-family: $title-font;
    margin-bottom: 1.8rem;
}

h2 {
    font-family: $title-font;
    font-size: 1.6rem;
}

h3 {
    @extend %small-title;
    font-size: 1.3rem;
}

h4 {
    @extend %small-title;
    font-size: 1.1rem;
}

// BADGES

%badge {
    padding: 6px 20px 4px 20px;
    margin: 0px 0px 10px 10px;
    @extend .badge;
}

.green-badge-l {
    @extend %badge;
    @extend .badge-green;
}

.green-badge-r {
    @extend %badge;
    @extend .badge-green;
    @extend .float-right;
}

.blue-badge-l {
    @extend %badge;
    @extend .badge-info;
}

.blue-badge-r {
    @extend %badge;
    @extend .badge-info;
    @extend .float-right;
}

.white-badge-l {
    @extend %badge;
    @extend .badge-white;
}

.white-badge-r {
    @extend %badge;
    @extend .badge-white;
    @extend .float-right;
}

// PILLS

.pill {
    @extend .flex-sm-fill;
    @extend .text-sm-center;
    @extend .nav-link;
    @extend .bg-grey-3;
    margin: 0 5px 10px 5px;

    &.active {
        @extend .bg-red;
    }

}

// FORMS AND AREAS

.c6 {
    @extend .col-lg-6;
    @extend .offset-lg-3;
    @extend .col-md-8;
    @extend .offset-md-2;
    @extend .col-sm-10;
    @extend .offset-sm-1;
}

.c8 {
    @extend .col-lg-8;
    @extend .offset-lg-2;
    @extend .col-md-10;
    @extend .offset-md-1;
}

.c10 {
    @extend .col-lg-10;
    @extend .offset-lg-1;
}

.dark-box {
    // Need to add d-flex class for flexbox features. Do not @extend
    @extend .container;
    @extend .bg-grey-5;
    @extend .rounded;
    @extend .shadow;
    @extend .border-right;
    @extend .border-red;
    @extend .p-4;
    @extend .mb-4;
    @extend .justify-content-between;
    @extend %white-links;

    &:hover {
        background-color: map_get($theme-colors, 'grey-6') !important;
    }
}

body {
    font-family: $body-font;
}


html {
    position: relative;
    min-height: 100%;
}

$footerheight: 150px;

body {
    margin-bottom: $footerheight + 50px;
    /* Margin bottom by footer height */
}

.footer {
    @extend .bg-grey-5;
    @extend .pt-3;
    @extend %white-links;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footerheight;
    // /* Set the fixed height of the footer here */
    // line-height: 40px;
}

.pagination,
td {
    margin-bottom: 20px;

    a,
    em,
    .previous_page {
        margin-right: 10px;
    }
}



// IMAGES

.logo {
    height: 20px;
    width: 20px;
    transform: rotate(90deg);
}

.small-icon {
    height: 100px;
}

a {
    color: map_get($theme-colors, 'grey-1');

    &:hover {
        color: map_get($theme-colors, 'grey-2');
        text-decoration: none;
    }
}

td {
    strong {
        margin-right: 20px;
    }
}

%white-links {
    color: map_get($theme-colors, 'grey-1');

    a {
        color: map_get($theme-colors, 'white');

        &:hover {
            color: map_get($theme-colors, 'grey-1');
        }
    }

    div {

        p,
        h2 {
            color: map_get($theme-colors, 'white');
        }
    }
}

.nav-item.rightalign {
    text-align: right;
}

// MARKDOWN

.highlight {

    border-radius: 5px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
    font-weight: normal;
    font-size: 15px;
    padding: 10px;
    padding-bottom: 0px;
    margin-bottom: 20px;

    pre {
        padding-bottom: 10px;
    }

    code,
    pre {
        color: #fdce93;
        background-color: #3f3f3f;
    }

    .hll {
        background-color: #222;
    }

    .err {
        color: #e37170;
        background-color: #3d3535;
    }

    .k {
        color: #f0dfaf;
    }

    .p {
        color: #41706f;
    }

    .cs {
        color: #cd0000;
        font-weight: 700;
    }

    .gd {
        color: #cd0000;
    }

    .ge {
        color: #ccc;
        font-style: italic;
    }

    .gr {
        color: red;
    }

    .go {
        color: gray;
    }

    .gs {
        color: #ccc;
        font-weight: 700;
    }

    .gu {
        color: purple;
        font-weight: 700;
    }

    .gt {
        color: #0040D0;
    }

    .kc {
        color: #dca3a3;
    }

    .kd {
        color: #ffff86;
    }

    .kn {
        color: #dfaf8f;
        font-weight: 700;
    }

    .kp {
        color: #cdcf99;
    }

    .kr {
        color: #cdcd00;
    }

    .ni {
        color: #c28182;
    }

    .ne {
        color: #c3bf9f;
        font-weight: 700;
    }

    .nn {
        color: #8fbede;
    }

    .vi {
        color: #ffffc7;
    }

    .c,
    .preview-zenburn .highlight .g,
    .preview-zenburn .highlight .cm,
    .preview-zenburn .highlight .cp,
    .preview-zenburn .highlight .c1 {
        color: #7f9f7f;
    }

    .l,
    .preview-zenburn .highlight .x,
    .preview-zenburn .highlight .no,
    .preview-zenburn .highlight .nd,
    .preview-zenburn .highlight .nl,
    .preview-zenburn .highlight .nx,
    .preview-zenburn .highlight .py,
    .preview-zenburn .highlight .w {
        color: #ccc;
    }

    .n,
    .preview-zenburn .highlight .nv,
    .preview-zenburn .highlight .vg {
        color: #dcdccc;
    }

    .o,
    .preview-zenburn .highlight .ow {
        color: #f0efd0;
    }

    .gh,
    .preview-zenburn .highlight .gp {
        color: #dcdccc;
        font-weight: 700;
    }

    .gi,
    .preview-zenburn .highlight .kt {
        color: #00cd00;
    }

    .ld,
    .preview-zenburn .highlight .s,
    .preview-zenburn .highlight .sb,
    .preview-zenburn .highlight .sc,
    .preview-zenburn .highlight .sd,
    .preview-zenburn .highlight .s2,
    .preview-zenburn .highlight .se,
    .preview-zenburn .highlight .sh,
    .preview-zenburn .highlight .si,
    .preview-zenburn .highlight .sx,
    .preview-zenburn .highlight .sr,
    .preview-zenburn .highlight .s1,
    .preview-zenburn .highlight .ss {
        color: #cc9393;
    }

    .m,
    .preview-zenburn .highlight .mf,
    .preview-zenburn .highlight .mh,
    .preview-zenburn .highlight .mi,
    .preview-zenburn .highlight .mo,
    .preview-zenburn .highlight .il {
        color: #8cd0d3;
    }

    .na,
    .preview-zenburn .highlight .nt {
        color: #9ac39f;
    }

    .nb,
    .preview-zenburn .highlight .nc,
    .preview-zenburn .highlight .nf,
    .preview-zenburn .highlight .bp,
    .preview-zenburn .highlight .vc {
        color: #efef8f;
    }
}