/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import url('https://fonts.googleapis.com/css?family=Nunito|Spectral+SC');
$title-font: 'Spectral SC',
serif;
$body-font: 'Nunito',
sans-serif;


$theme-colors: ("blue": hsl(211, 40%, 36%),
"pink": hsl(332, 79%, 58%),
"red": hsl(6, 78%, 57%),
"orange": hsl(27, 98%, 54%),
"yellow": hsl(37, 90%, 51%),
"green": hsl(165, 100%, 37%),
"teal": hsl(162, 73%, 46%),
"cyan": hsl(204, 70%, 53%),
"white": hsl(0, 7%, 97%),
"gray": hsl(0, 0%, 60%),
"gray-dark": hsl(0, 0%, 19%),
"primary": hsl(0, 93%, 16%),
"secondary": hsl(0, 0%, 27%),
"success": hsl(212, 96%, 36%),
"info": hsl(204, 70%, 53%),
"warning": hsl(37, 90%, 51%),
"danger": hsl(6, 78%, 57%),
"light": hsl(0, 0%, 19%),
"dark": hsl(210, 11%, 71%),
"black": hsl(0, 2%, 11%),
);

@import "bootstrap";

.small-button {
  @extend .btn;
  @extend .btn-sm;
  @extend .my-3;
}

.sm-primary {
  @extend .small-button;
  @extend .btn-primary;
}

.sm-secondary {
  @extend .small-button;
  @extend .btn-secondary;
}

.sm-warning {
  @extend .small-button;
  @extend .btn-warning;
}

.sm-danger {
  @extend .small-button;
  @extend .btn-danger;
}

.lg-primary {
  @extend .btn;
  @extend .btn-primary;
}

.lg-secondary {
  @extend .btn;
  @extend .btn-secondary;
}

.black-box {
  @extend .container;
  @extend .bg-black;
  @extend .rounded;
  @extend .shadow;
  @extend .border-right;
  @extend .border-orange;
  @extend .p-4;
  @extend .mt-4;
  @extend .d-flex;
  @extend .justify-content-between;
}

.logo {
  height: 20px;
  width: 20px;
  transform: rotate(90deg);
}

body {
  font-family: $body-font;
}

h1,
h2, .navbar-brand {
  font-family: $title-font;
}

h3 {
  @extend .text-orange;
  @extend .font-weight-bold;
  @extend .text-uppercase;
  font-family: $title-font;
  font-size: 1.4rem;
}


html {
  position: relative;
  min-height: 100%;
}

$footerheight: 150px;

body {
  margin-bottom: $footerheight + 50px;
  /* Margin bottom by footer height */
}

.footer {
  @extend .bg-black;
  @extend .text-white;
  @extend .pt-3;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footerheight;
  // /* Set the fixed height of the footer here */
  // line-height: 40px;
}

a {
  color: map_get($theme-colors, 'dark');

  &:hover {
    color: map_get($theme-colors, 'gray');
    text-decoration: none;
  }
}

.small-icon {
  height: 100px;
}

a.white-links {
  color: map_get($theme-colors, 'white');

  &:hover {
    color: map_get($theme-colors, 'gray');
    border-color: map_get($theme-colors, 'gray');
  }
}

.pagination,
td {

  a,
  em,
  .previous_page {
    margin-right: 10px;
  }
}