<div class="row">
    <div class="col-lg-6">
        <p>
            Located on the top floor of the 100 year old
            <%= link_to 'Mercer Warehouse', 'http://mercerwarehouse.com/' %> at
            104 street and 104 avenue, you can find Startup Edmonton (our gracious hosts) through the
            right set of doors (and up a few flights of stairs) on the west side.
        </p>
        <p>
            The Mercer Tavern is conveniently located next door for post meetup discussions.
        </p>
        <p>
            Be warned that we are located near Rogers place so parking can be difficult, especially on hockey nights!
        </p>

    </div>
    <div class="col-lg-6">
        <%= image_tag 'directions.jpg', class: 'w-100 rounded shadow mt-3 mb-1'%>
    </div>
</div>